.vscode/**
.vscode-test/**
.vscode-test.*
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.js.map
*.tsbuildinfo
out/test/**
.eslintrc.json
.npmrc
temp/**
developer_readme.md
project-spec.md
demo.txt
copy-with-context-*.vsix
public/gifs/**
.DS_Store